p, h1, span, button {
    font-family: "Lucida Console", monospace;
    white-space: nowrap;
}

p, span {
    font-size: large;
}

button {
    font-size: medium;
}


@media screen and (orientation: portrait) {
    /*Phone*/
    h1 {
        font-size: xxx-large;
    }

    p, span {
        font-size: xxx-large;
    }

    button {
        font-size: xxx-large;
    }

    footer > p {
        font-size: medium;
    }
}