/*Document structure*/
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
}

main {
    flex: auto;
}

footer {
    margin-left: 6px;
}


/*Palette and buttons layout*/

#palette_grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start;
}

#palette_grid > * {
    flex-grow: 1;
    margin: 6px;
}

#buttons_grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

#buttons_grid > * {
    flex-grow: 1;
    margin: 6px;
}


/*Media Queries*/
@media (max-width: 50rem) {
    #palette_grid {
        flex-direction: column;
        align-items: stretch;
    }
}