/*Document structure*/
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;

    height: 75px;
}

main {
    flex: auto;
}

footer {
    display: flex;
    justify-content: center;
    margin-left: 6px;
}

/*Palette and buttons layout*/

#palette_grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 24px;

}

#palette_grid > * {
    flex-grow: 1;
    margin: 6px;
}

#buttons_grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 24px;
}

#buttons_grid > * {
    flex-grow: 1;
    margin: 6px;
}

#shaking_hint {
    margin-top: 100px;
    text-align: center;
    color: gray;
}

/*Media Queries*/
@media screen and (max-width: 800px), screen and (orientation: portrait) {
    /*Small Screen or Phone*/
    #palette_grid {
        flex-direction: column;
        align-items: stretch;
        min-height: 60%;
    }

    #buttons_grid {
        min-height: 20%;
    }

    header {
        min-height: 10%;
    }

}

@media screen and (min-width: 1280px) and (orientation: landscape) {
    /*Large Screen*/
    .palette-element {
        min-height: 160px;
        min-width: 180px;
        border: 2px solid black;
    }

    #palette_grid, #buttons_grid, header, footer {
        margin-left: 300px;
        margin-right: 300px;
    }

    #buttons_grid {
        margin-top: 100px;
    }
}