header {
    text-align: center;
}

.palette-element, .button-element {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.palette-element {
    min-height: 160px;
    min-width: 240px;
    border: 2px solid black;
}

.palette-element span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.button-element {
    border: 2px solid black;
}


footer {
    text-align: left;
}


